OPENAI_API_KEY=sk-<here>
SERVER_LIST=192.168.0.76:4010,MAIN|10.244.207.130:4010,MAIN_VPN
SHOW_THINKING=false
SHOW_TOOL_CALLS=false
# Web deployment
S3_WEB_BUCKET=s3://<here>
CF_API_KEY=<here>
CF_EMAIL=<here>
CF_ZONE_ID=<here>
CF_DOMAIN=<here>
AUTH_TOKEN=Cartoon-Uncombed-Compost9